<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Login</span>
  </mat-toolbar-row>
</mat-toolbar>
<div fxLayout="column" fxLayoutAlign="center center" class="login-card-container">
  <mat-card class="mat-h4 mat-subheading-1 login-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content >
      <form class="login-form">
        <table class="login-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="login-full-width">
                <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="login-full-width">
                <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
      <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <button mat-raised-button (click)="login()" color="primary" >Login</button>
    </mat-card-actions>
  </mat-card>
</div>
