<div class="hero-banner-container">
  <div fxLayout="row" fxLayoutAlign="center center" class="hero-top-bar-container">
    <div fxFlex="80" fxLayout="row" fxLayoutAlign="center center" class="hero-top-bar">
      <div fxFlex="50" fxLayout="row" fxLayoutGap="3px" class="hero-top-bar-contact">
        <mat-icon>email</mat-icon>
        <em>shool.guru@guru.com</em>
        <mat-icon>phone</mat-icon>
        <em>+999999999999</em>
      </div>
      <div fxFlex="50" fxLayout="row" fxLayoutAlign="center center" class="hero-top-bar-links">
        <button  mat-button id="hero-top-bar-register">Register</button>
        <button  mat-button id="hero-top-bar-login">Login</button>
        <mat-icon>search</mat-icon>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" class="hero-menu-container">
    <div fxFlexFill fxLayout="row" fxLayoutAlign="center center" class="hero-menu">
      <div fxFlex="25" fxFlexAlign="start stretch" class="hero-menu-logo">
        <img src="../../assets/images/home-logo.jpg" alt="">
      </div>
      <div fxFlex="50" fxLayoutAlign="space-around" fxFlexAlign="end center" class="hero-menu-links">
        <button mat-raised-button color="warn">HOME</button>
        <button mat-raised-button color="warn">ABOUT</button>
        <button mat-raised-button color="warn">SERVICES</button>
        <button mat-raised-button color="warn">TEACHERS</button>
        <button mat-raised-button color="warn">EVENTS</button>
        <button mat-raised-button color="warn">PAGE</button>
        <button mat-raised-button color="warn">CONTACT</button>
      </div>
    </div>
  </div>
  <div fxLayout="row" class="hero-title-container" >
    <div fxFlex="40" fxFlexAlign="center" class="hero-description">
      <h1 >Give your child digital Education !!</h1>
      <p>Secure future of your child in this digitally revolutionized world with digital tracking, recommendation systems and much more </p>
    </div>

  </div>
</div>
